body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(21, 21, 173);
    color: white;
    font-size: 24pt;
    text-align: center;
    align-items: center;
}
main{
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section{
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}

main section:nth-child(2){
    display: none;
    margin: 0.5rem;
}

/* Tablet Views */
@media only screen and (mid-width: 37.5em){

    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(3){
        grid-column: span 2;
    }
}

/* Phone View */
@media only screen and (mid-width: 60em) {

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-child(3){
        grid-column: span 1;
    }
}


footer{
    background-color: rgb(21, 21, 173);
    color: white;
    text-align: center;
}