body {
	padding: 0;
	margin: 0 auto;
}

header {
    display: flex;
    grid-template-columns: 100%;
    background-color: #3E5B4A;
    color: white;
    font-size: 24pt;
	padding: 5px 0;
	max-width: 100%;
	margin: 0 auto;
    text-align: center;
    align-items: center;
	justify-content:center;
}
header p:nth-child(1){
display: none;
}
picture img{
    display: block;
    /* box-shadow: 15px; */
    filter: blur(0.0em);
    transition: filter 3s;
    width: 300px;
    height: 400px;
    margin: 5px;

}
.discover:hover {
    filter: blur(0.1em);
}

    picture img[data-src]{
        filter:blur(0.1em);
        width: 300px;
        height: 400px;
    }
.logo {
	display: grid;
	align-items: center;
	margin-left: 1rem;
}
.logo img {
	width: 80px;
	height: auto;
}
.headings {
	display: grid;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}
.logo {
	grid-area: logo;
}
.headings {
	grid-area: headings;
}
.social {
	grid-area: social;
	display: grid;
}
.socialicon{
	border-radius: 25px;
}
.date{
	grid-area: date;
	display: grid;
	column-span: all;
	text-align: center;
	background-color: #E7D0A2;
	color: black;
}
.headerdate{
	font-size: 1.5rem;
}
button{
	background-color: #E7D0A2;
	padding: .5rem;
	margin: 10px 0px;
}
nav {
	/* margin: 5px auto;
    position: absolute;
    top: 45px;
    right: 2.5px; */
	margin: 0 auto	;
	position: absolute;
	top: 10px;
	right: 5px;
}
nav ul{
	display:none;
	background-color: #3E5B4A;
	color: white;
	list-style-type: none;
	padding: .5rem;
}
nav a{
	color: white;
	padding: .5rem;
	text-decoration: none;
}
nav ul.open{
	display:block;
}
/* nav ul#navbar:active{
	z-index: 100;
	position: absolute;
} */
/* nav ul.navbar.open{
	display:;
	z-index: -50;
	position: absolute;
} */
nav ul li.active a{
	background-color: #3E5B4A;
	color: white;
}
nav ul li a:hover{
	background-color: #E7D0A2;
	color: black;
}

main div {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #E7D0A2;
}
main div section{
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #E7D0A2;
}
main h2, h3, h4, h5{
	text-align: center;
}
.hero {
    grid-area: hero;
    	position: relative;
    	padding-top: 1rem;
    	padding-bottom: 1rem;
		background-color: #0000;
		border: none;
}
.heroimg {
	width: 100%;
	/* height: 100%; */
}
.stats {
	position: absolute;
	background:#3E5B4A;
	top: 20px;
    right: 25px;
	width: 75px;
	height: 75px;
	border: 1px solid rgba(0,0,0,.1);
}
.stats h2{
	color: white;
	text-align:center;
	margin: 0 0 0;
}
.event {
    grid-area: event;
	background: #E7D0A2;
}
.event h2{
	text-align: center;
}
.weather {
	grid-area: weather;
	background: #E7D0A2;
}
.weatherformat {
	display: grid;
	background: #E7D0A2;
	border: none;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
"title title"
"wimg wtemp"
"wtitle wtitle"
"wspeed wspeed"
"wchill wchill";
text-align: center;
align-items: center;
justify-content: center;
}
.title{
	grid-area: title;
}
.weatherimg{
	grid-area: wimg;
}
.wtemp{
	grid-area: wtemp;
	font-size: 32px;
	font-weight:bold;
	margin-left: 25px;
}
.wtitle{
	grid-area: wtitle;
}
.wspeed{
	grid-area: wspeed;
}
.wchill{
	grid-area: wchill;
}
.weather h2{
	text-align: center;
}
.news {
	grid-area: news;
	background: #E7D0A2;
}
.news h2{
	text-align: center;
}
.sections {
    grid-area: spot;
	background: #3E5B4A;
}
.sections h2{
   text-align: center;
}
.join {
    grid-area: join;
	background: #E7D0A2;
}
.join h2{
	text-align: center;
	color: white;
}
.joinbutton{
	background-color: #3E5B4A;
	margin-top: 5px;
	border-radius: 35px;
}
.logo {
	grid-area: logo;
}

.headings{
	grid-area: headings;
}
#datediv{
	/* grid-area: datediv;
	display: grid; */
}
.info {
    display: block;
    /* text-align: center; */
	/* align-items: center; */
	/* align-content: center; */
    grid-area: info;
}

/* image gallery css */
div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	float: left;
	width: 100%;
  }

/* My form styling */
label.myinput{
	display: block;
	scroll-padding-top: 1rem;
}
label.myinput input{
	display: block;
	font-size: 1.2rem;
	padding: .5rem;
	width: 20rem;
	max-width: 20rem;
}
label.myradio{
	display: block;
}
label.myradio input{
	margin-right: .5rem;
	font-size: 1.3rem;
}
.mysubmit{
	background-color: #3E5B4A;
	color: white;
	margin: 1rem 0 0 0;
	padding: .5rem;
	font-size: 1.5rem;
}
label.myinput input:required{
	border-color: red;
}
.formdiv1{
	grid-area: div1;
}
.formdiv2{
	grid-area: div2;
}
.formsec{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"div1 div2";
	background-color: #3E5B4A;
}

/* Toggle View for Directory page data */
#listview{
	display: none;
}

/* phone or baseline views **************************/
header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: span 3;
	grid-template-areas: 
"logo headings social"
"date date date";
text-align: center;
align-items: center;
justify-content: center;
}
header h2{
	font-size: 12pt;
}
main {
	/* width: 100%; */
	/* max-width: 1024px; */
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"hero"
	"event"
	"weather"
	"news"
	"sections";
	font-size: 0.8rem;
}
.sections{
	display: grid;
	grid-template-columns: 1fr;
	grid-column: span 2;
	width: auto;
}
.hero {
    /* height: 150px;
	width: auto; */
	margin: 0.5rem;
}
.heroimg {
	/* width: 100%; */
	margin-top: 0;
	object-fit: fill;
}
.event {
    /* height: 150px;
	width: auto; */
	margin: 0.5rem;
}
.weather {
	/* height: 150px;
	width: auto; */
	margin: 0.5rem;
}
.news {
	/* height: 150px;
	width: auto; */
	margin: 0.5rem;
}
.join {
	display: none;
}
#spot3{
	display: none;
}

main section h2 {
	color: #536878;
}

main section {
	/* height: 150px;
	width: auto; */
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
    grid-column: span 1;
}

.contact a{
	text-decoration: none;
	color: white;
}
footer{
	/* width: 100%; */
	background-color: #3E5B4A;
	color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "f1"
    "f2"
    "info";
    text-align: center;
    align-items: center;
    align-content: center;
}


/* Tablet Views ******************************/
@media only screen and (min-width: 600px) and (max-width:1280px) {
	header{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column: span 3;
		grid-template-areas: 
	"logo headings social"
	"date date date";
	text-align: center;
    align-items: center;
	justify-content: center;
	}
	.headings h1 {
		font-size: 2rem;
	}
	.date{
		grid-area: date;
		display: grid;
		column-span: all;
		text-align: center;
		background-color: #E7D0A2;
		color: black;
	}
	.headerdate{
		font-size: 1.5rem;
	}
	nav {
		margin: 0 auto	;
		position: absolute;
		top: 10px;
		right: 5px;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:  
	"hero hero hero hero"
	"news news news news"
	"spot spot spot spot"
	"join join join join"
	"event event event weather";
	}
	main section {
		/* height: 150px;
		width: auto; */
		margin: 0.5rem;
		border: 1px solid #bbb;
		padding: 0 1rem;
		background-color: #eee;
	}
	.hero {
		grid-area: hero;
			position: relative;
			padding-top: 1rem;
			padding-bottom: 1rem;
			background-color: #0000;
			border: none;
	}
	.heroimg {
		width: 100%;
		/* height: 100%; */
	}
	.stats {
		top: 20px;
        right: 25px;
		width: 100px;
		height: 100px;
	}
	.stats h2{
		color: white;
		text-align: center;
		margin: 0 0 0;
	}
	.join {
		display: grid;
		/* height: 150px;
		width: auto; */
	}
	.sections{
		display: grid;
		grid-template-columns: 3fr 1fr 2fr;
		grid-column: span 4;
		width: auto;
	}

	main section:nth-child(2) {
		display: block;
		grid-column: span 2;
	}	

	main section:nth-child(3) {
        display: none;
		grid-column: span 2;
	}
	.responsive {
		width: 100%;
		margin: 6px 0;
	  }
	footer{
		width: 100%;
		background-color: #3E5B4A;
		color: white;
		text-align: center;
		justify-content: center;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 1280px) {
	header{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
	"logo headings social"
	"date date date"
	"navi navi navi";
	text-align: center;
    align-items: center;
	justify-content: center;	
	}
	.headings h1 {
	font-size: 3rem;
}
.date{
	grid-area: date;
	display: grid;
	column-span: all;
	text-align: center;
	background-color: #E7D0A2;
	color: black;
}
.headerdate{
	font-size: 1.5rem;
}
	header nav {
		grid-area: navi;
		display: grid;
		/* margin: 20 auto	; */
		/* width: 400px; */
		position: relative;
		/* top: 5px;
		right: 50px; */
	}
	.social{
		grid-area: social;
		display: grid;
		margin: 20px;
	}
	nav button {
		display: none;
	}
	nav ul#navbar{
		display:flex;
		justify-content: center;
		margin-left: 2vw;
		/* border-left: 1px solid rgba(0, 0, 0, 0.3); */
	} 
	nav ul li a{
		border: none;
		/* border-right: rgba(0, 0, 0, 0.3); */
	}
	main {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas: 
	"event hero hero spot"
	"weather hero hero spot"
	"join news news spot";
	}
	main section {
		/* height: 150px;
		width: 150px; */
		margin: 0.5rem;
		border: 1px solid #bbb;
		padding: 0 1rem;
		background-color: #eee;
	}
	.hero {
		grid-area: hero;
    	position: relative;
    	padding-top: 1rem;
    	padding-bottom: 1rem;
		background-color: #0000;
		border: none;
	}
	.heroimg {
		width: 100%;
		height: fit-content;
	}
	.stats {
		top: 20px;
        right: 25px;
	}
	.stats h2{
		color: white;
		text-align: center;
		margin: 0 0 0;
	}
	.sections{
		display: grid;
		grid-template-columns: 1fr;
		grid-column: span 4;
		width: auto;
	}
	#spot3{
		display: grid;
	}
	.join {
		display: grid;
		/* height: 150px;
		width: 150px; */
	}
	.joinbutton p{
		font-size: 16pt;
		color: white;
	}
	.event {
		/* height: 150px;
		width: 150px; */
	}
	.weather {
		/* height: 150px;
		width: 150px; */
	}
	main section:nth-child(3) {
		grid-column: span 1;
	}
	.info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5px;
    }
    .footersection1{
        display: grid;
        grid-template-columns: 20% 50% 30%;
        grid-template-areas: 
        "img addr cont"
    }
    .foot_img{
        padding-top: 12%;
    }
    .logo{
        height: 120px;
        width: 120px;
    }
	.responsive {
		width: 100%;
	  }
	footer{
		width: 100%;
		background-color: #3E5B4A;
		color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "f1"
        "f2"
        "info";
        text-align: center;
        align-items: center;
        align-content: center;
	}
}