header{
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(21, 21, 173);
    color: white;
    font-size: 24pt;
    text-align: center;
    align-items: center;
}
main{
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: rgb(21, 21, 173);
    color: white;
    text-align: center;
}
#header1div{
    display: grid;
    grid-template-columns: 30%;
    background-color: rgb(21, 21, 173);
    color: rgb(249, 249, 246);
    text-align: center;
    align-items: center;
}
#header2div{
    display: grid;
    grid-template-columns: 60%;
    background-color: rgb(21, 21, 173);
    color: rgb(251, 251, 248);
    text-align: center;
    align-items: center;
}
#header3div{
    display: grid;
    grid-template-columns:  100%;
    background-color: rgb(21, 21, 173);
    color: rgb(253, 253, 251);
    text-align: center;
    align-items: center;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 34% 34% 34%;
    grid-template-columns: repeat(3, fr);
}
