body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

#content{
    margin: 0 auto;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #3E5B4A;
    color: white;
    font-size: 24pt;
    text-align: center;
    align-items: center;
}

li {
    list-style-type: none;
}
.goldnugget {
    padding-top: 25px;
}

nav {
	background-color: #3E5B4A;
	text-align: center;
}

nav {
	display: grid;
}

nav div {
	grid: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	font-size: 0.9rem;
    list-style: none;
}

nav a:hover {
	background-color: #293D31;
	color: tan;
}

/* phone or baseline views **************************/
main {
    width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
.principleheader {
	background-color: #536878;
    color: white;
}

main section h2 {
	color: #536878;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
    grid-column: span 1;
}

@media (min-width: 37.5em) {
	nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}


/* Tablet Views ******************************/
@media only screen and (min-width: 600px) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 960px) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main section:nth-child(3) {
		grid-column: span 1;
	}
}

footer{
    width: 100%;
    background-color: #3E5B4A;
    color: white;
    text-align: center;
}